.container{width:800px;margin: 50px auto;border:1px solid #242442;}
img{border-radius:50%;margin: 30px}
h1{color: cadetblue;font-size:40px;margin:30px;}
strong{color:burlywood;font-size:20px;margin:30px;}
p{font-size: 20px;color: dimgray;margin:20px;}
h2{color: darkgreen;font-size:30px;margin:20px;}
ul{margin:20px;font-size:20px;}
table{font-size:20px;margin-left: 20px;}
td{padding-left: 30px;}
.video{margin-left:150px;}