.container{
    width:800px;
    margin: 50px auto;
    border:1px solid #663366;
}
img{
    border-radius:50%;
    margin: 30px;
}
h1{
    color: cadetblue;
    font-size:40px;
    margin-left:200px;
}
strong{
    color:cadetblue;
    font-size:20px;
    margin-left:200px;
}
p{
    font-size: 20px;
    color: dimgray;
    margin:20px;
}
h2{
    color:cadetblue;
    font-size:30px;
    margin:20px;
}
ul{
    margin:20px;
    font-size:20px;
}
table{
    font-size:20px;
    margin-left: 20px;
}
td{
    padding-left: 150px;
}
hr{
    margin: 0;
}
a{
   padding:100px;
}